* {
    padding: 0;
    margin: 0;
}

.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

.d-flex {
    display: flex;
}

header {
    padding-bottom: 9px;
}

header ul {
    list-style-type: none;
}

.head-wrapper {
    max-width: 1064px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.head-wrapper nav {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.head-wrapper nav a {
    color: #1C1B1B;
    font: 700 16px 'Roboto', sans-serif;
    font-style: normal;
    line-height: 26px;
    text-decoration: none;
    margin-bottom: 14px;
}

.head-wrapper nav a:not(:first-child) {
    margin-left: 28px;
}

.head-logo {
    left: 50%;
    top: 16px;
    margin-left: -40px;
    margin-top: 10px;
}

.head-icons {
    justify-content: flex-end;
    align-items: center;
}

.head-icons:last-child li {
    margin-top: 18px;
    margin-right: 15px;
}

.head-icons:first-child li {
    margin-top: 7px;
    margin-left: 7px;
}

.main-wrapper {
    background-color: #F0EFEB;
    width: 1440px;
    margin: auto;
}

.main-wrapper-title {
    display: flex;
    justify-content: center;
}

.subtitle h1 {
    color: #000;
    font: 700 60px 'Roboto', sans-serif;
    font-style: normal;
    line-height: normal;
    margin-bottom: 42px;
}

.subtitle h4 {
    color: #000;
    font: 400 24px 'Roboto', sans-serif;
    font-style: normal;
    line-height: normal;
    margin-bottom: 26px;
}

.subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle-btn {
    width: 129px;
    height: 36px;
    border-radius: 100px;
    border: 1px solid #000;
    background: #000;
    color: #FFF;
    font: 400 17px 'Roboto', sans-serif;
    font-style: normal;
    line-height: normal;
}

.main-wrapp-card {
    margin-left: 73px;
}







